<div class='reading-list'>
  <div class='reading-list-header'>
    {{ pageTitle }}
  </div>
  <div class='reading-list-body'>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='readings && readings.length'>
        <thead>
          <tr>
            <th>Reading</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let reading of readings'>
            <td>{{ reading.value }}</td>
            <td>{{ reading.weighDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>