<div class="container h-100">
  <div class="row justify-content-center">
    <div class="col-sm">
      <h1>Add Weigh In</h1>
    	<form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="alterEgo">Date</label>
          <div class="input-group">
            <input class="form-control"
                   placeholder="yyyy-mm-dd"
                   name="date"
                   [(ngModel)]="weighin.date"
                   ngbDatepicker #d="ngbDatepicker" />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar button"
                (click)="d.toggle()"
                type="button"
                >
                  <fa-icon [icon]="calendarIcon"></fa-icon>
                </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="alterEgo">Weight</label>
          <input
            type="text"
            class="form-control"
            name="value"
            [(ngModel)]="weighin.value"
            #emailField="ngModel"
            required
            [class.field-error]="form.submitted && emailField.invalid" />
          <div [hidden]="!form.submitted || emailField.valid" class="alert alert-danger">
            Enter an e-mail address
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
	    </form>
    </div>
  </div>
</div>
