<table class="table">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Weight</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let weighIn of weighIns">
    <td>{{ weighIn.date | date: 'EEEE d MMMM yyyy' }}</td>
    <td>{{ weighIn.value }}</td>
    <td>
      <a [routerLink]="['/weighins/' + weighIn.id + '/edit']">Edit</a>
      |
      <a (click)="deleteWeighIn(weighIn.id)"
         [routerLink]="">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<ngb-pagination
  *ngIf="totalCount > pageSize"
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="totalCount"
  (pageChange)="getWeighIns($event)"></ngb-pagination>