<header>
  <nav class='navbar navbar-expand container justify-content-end'>
    <a class="navbar-brand" [routerLink]="['/']">
      <span class="ml-2 text-light">Weight Tracker</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class='nav' *ngIf="authService.isLoggedIn()">
        <li>
          <a
            class='nav-link text-light'
            [routerLink]="['/weighins/add']">Add WeighIn</a>
        </li>
        <li>
          <a
            class='nav-link text-light'
            [routerLink]="['/units/edit']">Edit Units</a>
        </li>
        <li>
          <a
            class='nav-link text-light'
            (click)="logout()"
            [routerLink]="">Logout</a>
        </li>
        <li *ngIf="false">
          <a
            class='nav-link text-light'
            [routerLink]="['/test']">Test</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div id='app-content' class='container'>
  <notifications></notifications>
  <router-outlet></router-outlet>
</div>