/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body, #app-content {
  height: 100%
}

header,
a,
a:hover,
.page-link,
.page-link:hover,
.dropdown-toggle {
	color: #C2002E;
}

.page-link {
  background-color: transparent;
}

.page-item.active a.page-link,
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #C2002E;
  border-color: #C2002E;
}

.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
  background-color: transparent;
  background-image: none;
  border: 1px solid #C2002E;
  color: #C2002E;
}
